@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";


.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 40px 53px;
}

.about__inner-img {
    grid-row: 1 / -1;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.about__inner-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}

.about__inner-control {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 5.8%;
    bottom: 5.1%;
    max-width: 300px;
    background: rgba(149, 123, 151, 0.90);
    border-radius: 20px;
    padding: 15px 20px;
    color: var(--general-bg);
}

.about__inner-control a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: var(--general-bg);
    flex-shrink: 0;
    position: relative;
}

.about__inner-control a::before {
    content: '';
    position: absolute;
    inset: 5px;
    border: 1px solid var(--accent-color-2);
    border-radius: 50%;
    opacity: 0;
    transition: var(--transition);
}

.about__inner-control a:hover::before {
    opacity: 1;
}

.about__title-text {
    padding-bottom: 30px;
}

.about__grid-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.about__grid-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 29px 24px;
    background: var(--accent-bg);
    border-radius: 20px;
}

.about__grid-img  {
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ======================================= */


.program__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    gap: 30px 15px;
}

.program__title {
    margin-bottom: 20px;
}

.program-tab-content {
    margin-bottom: 40px;
}

.program__bottom {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.program__active {
    max-width: 501px;
    width: 100%;
    display: grid;
    gap: 40px;
    grid-template: repeat(3, auto) / 1.65fr 1fr;
    flex-shrink: 0;
}

.program__discount {
    grid-row: 1 / 3;
    background: var(--accent-bg);
    border-radius: 20px;
    padding: 40px;
    font-size: 20px;
}

.program__discount-value {
    font-family: Gabriola;
    font-size: 74px;
    line-height: .82;
    color: var(--accent-color);
    margin: 0 0 7px 13%;
    transform-origin: 0 0;
    
    animation: discount-grow .8s linear infinite alternate;
}

@keyframes discount-grow {
    0% {
        color: var(--accent-color);
    }
    100% {
        transform: translateX(3%) scale(1.1);
        color: #FF9138;
    }
}

.program__discount span {
    display: block;
    font-size: 16px;
    margin-left: 40%;
}

.program__price-text {
    color: var(--accent-color-2);
    line-height: 1.6;
    text-transform: uppercase;
}

.program__price-value {
    font-family: Gabriola;
    font-size: 32px;
    line-height: .9;
}

.program__price-value--big {
    
    font-size: 50px;
    color: var(--accent-text);
}

.program__button {
    grid-column: 1 / -1;
    max-width: 100%;
}

.program__img img {
    width: 100%;
}


.tab-controls {
    display: flex;
    gap: 26px;
}

.tab-controls__link {
    display: block;
    border-radius: 100px;
    background: var(--general-bg);
    box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0.30);
    padding: 14px 30px;

    transition: var(--transition);
}

.tab-controls__link:hover {
    background: var(--accent-bg);
}

.tab-controls__link--active {
    background: var(--accent-bg);
    box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0);
}

.tab-content {
    display: none;
}

.tab-content--show {
    display: block;
}



.accordion-list__item {
    border-radius: 20px;
    border: 1px solid var(--accent-color);
    margin-bottom: 30px;
}

.accordion-list__item:last-child {
    margin-bottom: 0;
}

.accordion-list__control {
    width: 100%;
    padding: 40px 30px;
    background: transparent;

    display: flex;
    justify-content: space-between;
    gap: 15px;
    text-align: left;

    font-family: Gabriola;
    font-size: 42px;
    line-height: .9; 
    color: var(--accent-text);

    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control {
    padding: 40px 30px 20px;
}

.accordion-list__control-icon {
    width: 36px;
    height: 36px;
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2px;

    transition: var(--transition);
}

.accordion-list__control-icon path {
    transition: var(--transition);
}

.accordion-list__control:hover .accordion-list__control-icon {
    background: var(--accent-color);
    transform: rotate(90deg);
}

.accordion-list__control:hover .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__item--opened .accordion-list__control-icon {
    background: var(--accent-color);
    transform: rotate(90deg);
}

.accordion-list__item--opened .accordion-list__control-icon path{
    fill: var(--general-bg);
}

.accordion-list__content {
    max-height: 0px;
    overflow: hidden;
    transition: var(--transition);
}

.accordion-content {
    padding: 0 30px 40px;
    display: flex;
    gap: 80px;
}

.accordion-content__col:first-child {
    max-width: 507px;
}

.accordion-content__title {
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--accent-color-2);
    margin-bottom: 20px;
}

.accordion-content__item {
    display: flex;
    gap: 8px;
}

.accordion-content__item:not(:last-child) {
    margin-bottom: 20px;
}

.accordion-content__icon {
    width: 24px;
    height: 24px;
    border: 1px solid var(--accent-color-2);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.accordion-content__text {
    max-width: 274px;
}


/* ================================== */


.gallery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 40px;
}

.gallery__img {
    justify-self: center;
    align-self: center;
}

.gallery__img img {
    max-width: 100%;
}

.gallery__content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 30px 15px;
}

.gallery__info {
    max-width: 380px;
}

.gallery__title {
    margin-bottom: 20px;
}

.gallery__nav {
    display: flex;
    align-items: center;
    gap: 98px;
    font-family: Gabriola;
    font-size: 42px;
    line-height: .9;
    position: relative;
}

.gallery__prev,
.gallery__next {
    cursor: pointer;
    background: transparent;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: var(--transition);
}

.gallery__prev path,
.gallery__next path {
    transition: var(--transition);
}

.gallery__prev:hover,
.gallery__next:hover {
    background: var(--accent-color);
}

.gallery__prev:hover path,
.gallery__next:hover path {
    fill: var(--general-bg);
}

.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
    border: 1.5px solid #E1D9E1;
    cursor: auto;
}

.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
    fill: #E1D9E1;
}

.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover {
    background: transparent;
} 

.gallery__pagination {
    width: auto;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
}

.gallery__slide {
    border-radius: 20px;
    overflow: hidden;
}

.gallery__slide img {
    width: 100%;
}


/* ==================================== */


.testimonials__inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 30px;
    margin-bottom: 40px;
}

.testimonials__info {
    max-width: 632px;
}

.testimonials__title {
    margin-bottom: 20px;
}

.testimonials__nav {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: Gabriola;
    font-size: 42px;
    line-height: .9;
    position: relative;
}

.testimonials__prev,
.testimonials__next {
    cursor: pointer;
    background: transparent;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: var(--transition);
}

.testimonials__prev path,
.testimonials__next path {
    transition: var(--transition);
}

.testimonials__prev:hover,
.testimonials__next:hover {
    background: var(--accent-color);
}

.testimonials__prev:hover path,
.testimonials__next:hover path {
    fill: var(--general-bg);
}

.swiper-button-disabled.testimonials__prev,
.swiper-button-disabled.testimonials__next {
    border: 1.5px solid #E1D9E1;
    cursor: auto;
}

.swiper-button-disabled.testimonials__prev path,
.swiper-button-disabled.testimonials__next path {
    fill: #E1D9E1;
}

.swiper-button-disabled.testimonials__prev:hover,
.swiper-button-disabled.testimonials__next:hover {
    background: transparent;
} 

.testimonials__slider {
    overflow: visible;
}

.testimonials__wrapper {
    margin-bottom: 42px;
}

.testimonials__slide {
    display: flex;
    gap: 30px;
    padding: 30px 30px 40px;
    border-radius: 20px;
    background: var(--accent-bg);
    transition: var(--transition);
    opacity: 0;
    height: auto;
}

.swiper-slide-prev.testimonials__slide,
.swiper-slide-next.testimonials__slide {
    opacity: 0.5;
}

.testimonials__slide.swiper-slide {
    transform: scale(.9)
}

.swiper-slide-active.testimonials__slide {
    transform: scale(1);
    opacity: 1;
}

.testimonials__student {
    max-width: 165px;
    width: 100%;
    flex-shrink: 0;
    text-align: center;
}

.testimonials__student-img {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.testimonials__student-img img {
    width: 100%;
}

.testimonials__student-name {
    text-transform: uppercase;
    line-height: 1.6; 
    color: var(--accent-text);
    margin-bottom: 5px;
}

.testimonials__student-inst {
    color: var(--accent-color-2);
}

.testimonials__quote {
    max-width: 369px;
}

.testimonials__quote span {
    font-family: Gabriola;
    font-size: 32px;
    line-height: .9;
    color: var(--accent-text);
    display: block;
    margin-bottom: 10px;
}

.testimonials__scrollbar {
    background: var(--accent-bg);
}

.testimonials__scrollbar.swiper-scrollbar {
    position: static;
    width: 100%;
    height: 7px;
}

.testimonials__scrollbar .swiper-scrollbar-drag {
    background: var(--accent-color);
}


/* ================================================== */


.contact {
    padding: 140px 0;
    background: url('../img/bg-contact.png') 50% 0% / cover no-repeat;
}

.contact__inner {
    display: flex;
    align-items: end;
    gap: 84px;
    position: relative;
}

.contact__inner::before {
    content: url(../img/berries.png);
    position: absolute;
    top: -3%;
    left: 0%;
}

.contact__inner::after {
    content: url(../img/berries-2.png);
    position: absolute;
    top: 8%;
    right: 0%;
}

.contact__img img {
    width: 100%;
    filter: drop-shadow(0px 4px 30px #c6b0a14d);
}

.contact__body {
    max-width: 420px;
}

.contact__title {
    margin-bottom: 20px;
}

.contact__text {
    margin-bottom: 40px;
}

.contact__input {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 100px;
    border: 1px solid var(--input-color);
    background: #00000000;
    padding: 19px 28px;
    font-size: 16px;
    transition: var(--transition);
}

.contact__input:hover{
    border: 1px solid var(--accent-color);
}

.contact__input::placeholder {
    color: var(--input-color);
    transition: var(--transition);
}

.contact__input:hover::placeholder {
    color: var(--accent-color);
}

.contact__chek-label {
    display: flex;
    align-items: start;
    gap: 5px;
    max-width: 288px;
    font-size: 13px;
    margin-bottom: 20px;
}

.contact__chek-label a {
    text-decoration: underline;
    text-underline-offset: 2.5px;
    transition: var(--transition);
}

.contact__chek-label a:hover {
    color: var(--accent-color);
}

.contact__checkbox {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1.5px solid var(--input-color);
    border-radius: 4px;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
    transition: var(--transition);
}

.contact__checkbox::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url(../img/icons/check.svg) 50% 50% no-repeat;
    opacity: 0;
    transition: var(--transition);
}

.contact__checkbox:hover {
    border: 1.5px solid var(--accent-color);
    cursor: pointer;
}

.contact__checkbox:checked {
    background: var(--accent-color);
    border: 1.5px solid var(--accent-color);
}

.contact__checkbox:checked::before {
    opacity: 1;
}




/* ==================================== */
/* ==================================== */
/* ==================================== */



@media (max-width: 1200px) {
    .hero__inner-control {
        position: static;
        margin-top: 30px;
        max-width: none;
    }

    .hero__inner-img {
        margin-right: 0;
        max-width: 377px;
    }

    /* ==================== */

    .program__top {
        flex-direction: column;
        align-items: stretch;
    }
    
    /* ==================== */

    .contact__inner::after {
        top: -20%;
        right: 0%;
    }
    /* ==================== */

    .footer__inner {
        justify-content: space-between;
        grid-template: repeat(2, auto) / repeat(3, auto);
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        text-align: center;
    }
}

@media (max-width: 1100px) {
    .about__inner-img {
        grid-row: auto;
    }
    .about__body {
        align-self: center;
    }
    .about__grid-list {
        grid-column: 1 / -1;
    }

    /* ======================= */

    .accordion-list__control {
        padding: 25px 30px;
        font-size: 35px;
    }

    .accordion-content {
        gap: 30px;
    }

    /* ======================= */

    .contact__inner {
        align-items: center;
        gap: 30px;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 30vh 15px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: .4s;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--burger-opened .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    /* ============================ */

    .program__active {
        max-width: none;
        grid-template: repeat(3, auto) / minmax(280px, 1fr) 1fr;
    }

    .program__img {
        display: none;
    }

    /* ============================== */

    .gallery__inner {
        grid-template: none;
    }

    .gallery__img {
        display: none;
    }

    .gallery__info {
        max-width: none;
    }

    /* ============================ */

    .footer__inner {
        grid-template: none;
        justify-content: center;
        text-align: center;
        gap: 0;
    }

    .footer__contact-list {
        margin-bottom: 10px;
    }

    .socials-list {
        display: flex;
        justify-content: center;
    }

    .footer__col:first-child,
    .footer__col:nth-child(2) {
        margin-bottom: 40px;
    }

    .nav__link::before {
        top: -14px;
        left: -19px;
        width: 51px;
        height: 51px;
    }

    /* =========================== */

    .testimonials__scrollbar.swiper-scrollbar {
        width: 50%;
        margin: 0 auto;
    }

    /* =========================== */

    .contact__inner {
        justify-content: center;
    }

    .contact__img {
        display: none;
    }
}

@media (max-width: 800px) {

    html {
        scroll-padding-top: 50px;
    }

    .hero__inner-img {
        display: none;
    }

    .hero__inner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero__inner-control--mobile {
        display: flex;
        margin: 0 0 40px;
    }

    /* ============================= */

    .about__inner {
        grid-template: none;
    }
    .about__inner-img {
        max-width: 500px;
        justify-self: center;
    }
    .about__body {
        text-align: center;
    }
    .about__grid-list {
        grid-template: none;
    }

    /* ============================= */

    .tab-controls {
        gap: 10px;
    }
    .tab-controls__link {
        padding: 6px 20px;
    }

    .accordion-content {
        flex-direction: column;
    }

    .accordion-content__col:first-child {
        max-width: none;
    }

    .accordion-content__text {
        max-width: none;
    }

    /* ==================================== */

    .testimonials__inner {
        flex-direction: column;
        align-items: start;
        margin-bottom: 20px;
    }

    .testimonials__nav {
        align-self: end;
    }

    /* ================================= */

    .contact__inner::before {
        content: none;
    }
}

@media (max-width: 600px) {

    .main__about {
        padding: 80px 0;
    }

    .main__program,
    .main__gallery,
    .main__testimonials {
    padding: 0 0 80px;
    
}

    /* ========================== */

    .hero__inner-title,
    .about__title,
    .program__title,
    .gallery__title,
    .testimonials__title,
    .contact__title {
        font-size: 12vw;
    }

    /* ========================== */

    .hero__inner {
        padding-bottom: 80px;
    }

    /* ========================== */
    .about__inner-control {
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0;
        max-width: none;
        padding: 10px 15px;
    }
    .about__grid-list {
        gap: 15px;
    }
    .about__grid-item {
        padding: 10px 15px;
    }

    /* ======================= */

    .program__top {
        margin-bottom: 30px;
    }
    .program__title {
        text-align: center;
    }
    .program__text {
        text-align: center;
    }

    .tab-controls {
        justify-content: center;
        flex-wrap: wrap;
    }

    .program__active {
        grid-template: repeat(3, auto) / 1fr 1fr;
        gap: 15px;
    }

    .program__discount {
        grid-row: auto;
        grid-column: 1 / -1;
        justify-self: center;
    }

    /* ======================= */
    
    .accordion-list__item {
        margin-bottom: 15px;
    }

    .accordion-list__control {
        padding: 17px 30px;
        font-size: 28px;
    }

    .accordion-list__control-icon {
        width: 26px;
        height: 26px;
    }

    .accordion-list__control-icon svg {
        width: 11px;
    }

    /* ================================= */

    .gallery__inner {
        margin-bottom: 20px;
    }

    .gallery__content {
        flex-direction: column;
    }

    /* ============================= */

    .testimonials__slide {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* ============================ */

    .contact {
        padding-bottom: 80px;
    }

    .contact__title,
    .contact__text {
        text-align: center;
    }
}

@media (max-width: 450px) {
    .modal__window {
        padding: 0 25px 45px;
    }
    .modal__img{
        width: 50%;
        margin-top: -45px;
    }

    /* ==================== */

    .program__active {
        grid-template: none;
    }

    .program__price {
        text-align: center;
    }

    .accordion-list__control {
        padding: 17px 15px;
    }

    .accordion-content {
        padding: 0 15px 30px;
    }

    .accordion-content__item:not(:last-child) {
        margin-bottom: 10px;
    }

    /* ======================================== */

    .testimonials__slide {
        padding: 30px 15px;
    }
}



